body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(255, 228, 181);
  padding: 20px;
  font-family: sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
