.done {
  text-decoration: line-through;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}
span {
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  background: rgb(0, 206, 209);
  width: 100%;
  border-style: solid;
  border-color: white;
}
button {
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
}
